<section>
    <div class="container mx-auto min-h-[800px] mb-14">
        <div class="flex flex-col lg:flex-row lg:items-center lg:justify-between">
            <div>
                <h2 class="text-2xl font-semibold">house name</h2>
                <h3 class="text-lg mb-4">house address</h3>
            </div>
            <div class="mb-4 lg:mb-0 flex gap-x-2 text-sm">
                <div class="bg-green-500 text-white px-3 rounded-full">house type</div>
                <div class="bg-blue-700 text-white px-3 rounded-full">house Country</div>
            </div>
            <div class="text-3xl font-semibold text-blue-700">$ 1000000 </div>
        </div>
        <div class="flex flex-col items-start gap-8 lg:flex-row">
            <div class="max-w-[768px]">
                <div class="mb-8">
                    <img src="../../../assets/img/houses/house2lg.png" alt="" srcset="">
                </div>
                <div class="flex gap-x-6 mb-6">
                    <div class="flex gap-x-2 items-center">
                        <mat-icon>hotel</mat-icon>
                        <div>6</div>
                    </div>
                    <div class="flex gap-x-2 items-center">
                        <mat-icon>bathtub</mat-icon>
                        <div>6</div>
                    </div>
                    <div class="flex gap-x-2 items-center">
                        <mat-icon>aspect_ratio</mat-icon>
                        <div>6</div>
                    </div>
                </div>
                <div>Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam harum, dolorem tenetur
                    quos delectus officia eos quae fugiat eveniet earum officiis eum commodi? Veritatis corporis
                    deserunt vero tempore ex minus.</div>
            </div>
            <div class="flex-1 bg-white w-full mb-8 border border-gray-300 rounded-lg px-6 py-8">
                <div class="flex items-center gap-x-4 mb-8">
                    <div class="w-20 h-20 bg-blue-950 rounded-full flex items-center justify-center">
                        <span class="text-white text-4xl">
                            {{getNameIcon()}}
                        </span>
                    </div>
                    <div>
                        <div class="font-bold text-lg"> {{fullName}} </div>
                        <div class="cursor-pointer underline" routerLink="/">Show details</div>
                    </div>
                </div>
                <form class="flex flex-col gap-y-4">
                    <input class="border border-gray-300 focus:border-blue-900 outline-none rounded w-full px-4 h-14 text-sm" type="text" placeholder="Name*">
                    <input class="border border-gray-300 focus:border-blue-900 outline-none rounded w-full px-4 h-14 text-sm" type="text" placeholder="Email*">
                    <input class="border border-gray-300 focus:border-blue-900 outline-none rounded w-full px-4 h-14 text-sm" type="tel" placeholder="Phone*">
                    <textarea class="border border-gray-300 outline-none resize-none rounded w-full p-4 h-36 text-sm text-gray-400" placeholder="Message*"></textarea>
                    <div class="flex gap-x-2">
                        <button class="bg-blue-700 hover:bg-blue-800 text-white p-4 text-sm w-full transition rounded">Send Message</button>
                        <button class="border border-blue-700 text-blue-700 hover:border-blue-800 hover:text-blue-800 rounded p-4 text-sm w-full transition">Call</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>