<section>
    <div class="container mx-auto min-h-[800px] mb-14">
        <div class="flex flex-col lg:flex-row lg:items-center lg:justify-between">
            <div>
                <h2 class="text-2xl font-semibold">house name</h2>
                <h3 class="text-lg mb-4">house address</h3>
            </div>
            <div class="mb-4 lg:mb-0 flex gap-x-2 text-sm">
                <div class="bg-green-500 text-white px-3 rounded-full">house type</div>
                <div class="bg-blue-700 text-white px-3 rounded-full">house Country</div>
            </div>
            <div class="text-3xl font-semibold text-blue-700">$ 1000000 </div>
        </div>
        <div class="flex flex-col items-start gap-8 lg:flex-row">
            <div class="max-w-[768px]">
                <div class="mb-8">
                    <img src="../../../assets/img/houses/house9lg.png" alt="" srcset="">
                </div>
                <div class="flex gap-x-6 mb-6">
                    <div class="flex gap-x-2 items-center">
                        <mat-icon>hotel</mat-icon>
                        <div>6</div>
                    </div>
                    <div class="flex gap-x-2 items-center">
                        <mat-icon>bathtub</mat-icon>
                        <div>6</div>
                    </div>
                    <div class="flex gap-x-2 items-center">
                        <mat-icon>aspect_ratio</mat-icon>
                        <div>6</div>
                    </div>
                </div>
                <div>Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam harum, dolorem tenetur quos delectus officia eos quae fugiat eveniet earum officiis eum commodi? Veritatis corporis deserunt vero tempore ex minus.</div>
            </div>
        </div>
    </div>
</section>