<div class="bg-white shadow-1 p-5 rounded-lg rounded-tl-[90px] w-full max-w-[352px] mx-auto cursor-pointer hover:shadow-2xl transition">
    <img class="mb-8" [src]="imageUrl" alt="House1" >
    <div class="mb-4 flex gap-x-2 text-sm">
        <div class="bg-green-500 rounded-full text-white px-3">
            House
        </div>
        <div class="bg-blue-600 rounded-full text-white px-3">Location</div>
    </div>
    <div class="text-lg font-semibold max-w-[260px]">
        San Jose, USA
    </div>
    <div class="flex gap-x-4 my-4">
        <div class="flex items-center text-gray-600 gap-1">
            <div class="text-[20px]"><mat-icon>hotel</mat-icon></div>
            <div>3</div>
        </div>
        <div class="flex items-center text-gray-600 gap-1">
            <div class="text-[20px]"><mat-icon>bathtub</mat-icon></div>
            <div>3</div>
        </div>
        <div class="flex items-center text-gray-600 gap-1">
            <div class="text-[20px]"><mat-icon>aspect_ratio</mat-icon></div>
            <div>3000 sq ft</div>
        </div>
    </div>
    <div class="text-lg font-semibold text-blue-600 mb-4">100000$</div>
</div>
